<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Bank</title>
</head>
<body>
<div id="tableContainer">
</div>
<h1>Welcome to...</h1>
<p><a href="/clients">1 - Print clients and their balance (amount of money)</a></p>
<p><a href="/addclient">2 - Registry client</a></p>
<p><a href="/depositmoney">3 - Deposit money</a></p>
<p><a href="/withdrawmoney">4 - Withdraw money</a></p>
<p><a href="/transfermoney">5 - Transfer money</a></p>
<p><a href="/deleteuser">6 - Delete user</a></p>
</body>
